
.navigationbar{
    position: sticky;
    top: 0;
    z-index: 21;

}

.navbar-brand{
    margin: 0 1% 0 0;
}


.auth{
    color: black;
    margin: auto;
    float: right;
}
.mr-auto, .mx-auto {
    float: right;

}